{{#projects}}
<div>
    <a href="{{path}}"><img src="/{{path}}/screenshot.png"></a>
    {{!-- <img src="/{{path}}/screenshot.png" /> --}}
    <h3><a href="{{path}}">{{name}}</a></h3>
</div>
{{/projects}}